/* #文件名：login.css
#作者：王存策
#描述：前端页面类
#创建时间：2021/7/21 16：43
#修改人：〈修改人〉
#修改时间：YYYY-MM-DD
#修改内容：〈修改内容〉 */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: #34495e; */
    height: 100vh;
    background: linear-gradient(rgb(204, 212, 230), rgb(255, 255, 255)); 
  }
  .box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
  }
  .box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 210px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color: #2ecc71;
  }



  .box input[type = "button"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 130px;
  }
  .box input[type = "button"]:hover{
    background: #2ecc71;
  }





  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 130px;
  
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  
  .logout input[type = "button"]{
    position: absolute;
    right: 0;
    bottom: 0;
    border:0px;
    background: none;
    display: block;
    margin: 60px 60px 60px 60px;
    
    border: 3px solid #000000;
    padding: 14px 16px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    transition: 0.25s;
    cursor: pointer;
    width: 130px;
  
  }
  .logout input[type = "button"]:hover{
    background: #000000;
  }
 